/* стилизация содержимого страницы */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
} 
  
/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7); /* цвет фона */
    z-index: 9999;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 100px;
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
  }
/* свойства для заголовка модального окна */
.modal-header {
    display: block;
    padding: 15px;
    /* background-color: #d5d1de;
    border: 2px solid #ff8080;
    border-radius: 10px; */
}
.modal-title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 25px;
    font-weight: 500;
    }
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-decoration: none;
    opacity: .5;
    }
/* свойства для кнопки "Закрыть" при наведении */
.close:hover {
    color: #ff0000;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  padding: 15px;
  overflow: auto;
}
/* свойства для блока, содержащего кнопки */
.modal-footer{
  position: relative;
  padding: 10px;
  overflow: auto;
  text-align: right;
}
.modal-footer div {
  display: inline-block;
}
.accept {
  background-color: green;
  border: 1px solid green;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  }
.accept:hover {
  cursor: pointer;
  opacity: .75;
} 

.decline {
  background-color: red;
  border: 1px solid red;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;  
  }

.decline:hover {
  cursor: pointer;
  opacity: .75;
} 