.game{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 200px;
    border-bottom: 1px solid black;
    margin: auto;
    gap: 120px;;
}

#dino{
    width: 50px;
    height: 50px;
    background-image: url(images/dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(images/cactus.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
}

.cactus__animation{
    animation: cactusMove 2s infinite linear;
}

@keyframes cactusMove {
    0%{
        left:580px
    }
    100%{
        left: -20px;
    }
}

.jump{
    animation: dinoJump 0.3s linear;
}

@keyframes dinoJump {
    0%{
        top:150px;
    }
    25%{
        top:115px;
    }
    50%{
        top: 80px;
    }
    75%{
        top: 115px;
    }
    100%{
        top:150px;
    }
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
}

.game__button,
.game__startButton{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
   
}

.game__button:hover,
.game__restartButton:hover,
.game__startButton:hover{
    transform: scale(1.2);
    transition: transform .3s ease;
}

.game__button img,
.game__restartButton img,
.game__startButton img{
   width: 120px;
   height: 50px;
}

.scoresheet{
    width: 200px;
    height: 20px;
    border: 2px solid black;
    font-size: 16px;
    text-align: center;
}

.game__restartButton{
    /* position: fixed; */
    /* top: 100px; */
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    /* right: 500px; */
}

.game__final{
    display: none;
    pointer-events: none;
}

#final {
    position: fixed; 
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7); 
    z-index: 9999;
    margin: 0;
    padding: 0;
}

.game__window{
    position: relative;
    width: auto;
    margin: 100px;
}

.game__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
  }

  .game__score{
    font-size: large;
    font-weight: 600;
  }