@media(max-width: 1040px){
    .new-store__items,
    .top-store__items{
        grid-template-columns: repeat(2, 1fr);
    }
    .store__wrapper:not(:last-child){
        margin-bottom: 50px;
    }
    .store,
    .categories{
    padding-top: 100px;
    }
    .categories__items{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 35px;
    }
    .brands__items{
        grid-template-columns: repeat(3, auto);
        max-width: 100%;
        justify-content: center;
        column-gap: 90px;
        row-gap: 40px;
    }
    .why__items{
        grid-template-columns: repeat(2, auto);
    }

    .slide-swiper-reviews{
        flex-direction: column;
    }

    .slide-swiper-reviews__picture{
        margin-bottom: 20px;
    }
}

@media(max-width: 900px){
    .favorite__container{
        flex-direction: column;
    }
    .favorite__title:not(:last-child){
        text-align: center;        
    }
    .apps__favorite{
        justify-content: center;
    }
}

@media(max-width: 800px){
    .main__image{
        display: none;
    }
    .main__content{
        flex: 1 1 100%;
    }
    .header__container{
        gap: 20px;
    }
    .menu__list{
        gap: 10px;
    }
    .footer__body{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}

@media(max-width: 640px){
    .why__items{
        grid-template-columns: repeat(1, auto);
    }
}

@media(max-width: 540px){
    
    .new-store__items,
    .top-store__items{
        grid-template-columns: 1fr;
    }
    .title{
       margin-bottom: 25px;
       font-size: 40px;
    }
    .categories__items{
        grid-template-columns: 1fr;
    }  
    .brands__items{
        grid-template-columns: repeat(2, auto);
        max-width: 100%;
        justify-content: center;
        column-gap: 90px;
        row-gap: 40px;
    }
    .apps__favorite{
        flex-wrap: wrap;
    }
    .apps__favorite_button{
        flex: 0 1 100%
    }
    .apps__favorite_wrapper{
        justify-content: center;
    }
}