@font-face {
    font-family: "Poppins";
    src: url("/Fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "CalSans";
    src: url("/Fonts/CalSans-SemiBold.ttf");
}

html, 
body{
    height: 100%;
    min-width: 320px;
    font-size: 16px; 
}

body{
    background-color: white;
    line-height: 1;
    font-family: "Poppins";
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*="__container"]{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-family: "CalSans";
    font-size: 44px;
    line-height: 52.8px;
    font-weight: 600;
    color: #121212;
    text-align: center;
    margin-bottom: 92px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__container{
    display: flex;
    gap: 135px;
    align-items: center;
    min-height: 152px;
}
 
.header__menu menu{
    max-width: 309px;
}

.menu__list{
    display: flex;
    gap: 10px 56px;
    flex-wrap: wrap;
}

.menu__link{
    color: rgba(18, 18, 18, 0.4);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.menu__link:hover{
    text-decoration: underline;
}

.page{
    flex: 1 1 auto;
}
.main__container{
    display: flex; 
}

.main__content{
    display: flex;
    flex-direction: column;
    padding-top: 143px;
    flex: 0 1 50%;
    align-self: flex-end; 
    padding-bottom: 60px;
}

.main__h1{
    font-family: "CalSans";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 67px; 
    color: #121212;
    margin: 0;
}

span{
    color: #FF6428;
}

.main__h1:not(:last-child){
    margin-bottom: 16px;
}

.main__p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #666666;
    max-width: 420px;
}

.main__p:not(:last-child){
    margin-bottom: 32px;
}

.main_links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main__button{
    height: 60px;
    width: 192px;
    left: 120px;
    top: 466px;
    border-radius: 40px;
    padding: 18px 48px 18px 48px;
    background-color: #FF6428;
    line-height: 24px;
    line-height: 100%;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
}

.main__button:hover{
    background-color: #ca5121;
}

.main__link:not(:last-child){
    margin-right: 40px;
}

.main__icons:last-child {
    margin-left: 27px;
}

.main__image{
    flex: 0 1 50%;
}

.main__foto{
    position: relative;
    max-width: 672px;
    max-height: 586px;
    padding-bottom: 100%;
}

.main__foto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 360px;
    border-bottom-right-radius: 151px;
}

.main__foto::after{
    content: "";
    background: url("/img/main/logo.svg") 0 0 no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 25%;
    transform: translate(0, 50%);
}

.store,
.categories{
    padding-top: 160px;
}

.store__title
.categories__title{
    margin-bottom: 92px;
}

.new-store__header,
.top-store__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.new-store__title,
.top-store__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.new-store__link,
.top-store__link{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #868686;
}

.new-store__link:hover,
.top-store__link:hover{
    text-decoration: underline;
}

.new-store__items,
.top-store__items{
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}

.item__title{
    font-weight: 500;
    color: #121212;
}

.item__title:hover{
    text-decoration: underline;
}

.item__title:not(:last-child){
    margin-top: 7px;
}

.item__price{
    font-size: 14px;
    color: #666666;
}

.item__image img{
    max-width: 100%;
}

.item__image:not(:last-child){
    margin-bottom: 10px;
}

.item{
    display: grid; 
    row-gap: 15px;
}
.store__wrapper:not(:last-child){
    margin-bottom: 100px;
}

.item-category{
    position: relative;
}

.categories__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
    row-gap: 35px;
}
.categories{
    padding-bottom: 90px;
}

.item-category__title{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    width: 100%;
    padding: 30px 20px;
    z-index: 3;
}

.item-category__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-category__image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    z-index: 2;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.16) 50%, 
        rgba(0, 0, 0, 0.8) 100%);
    border-radius: 30px;
}

.brands{
    padding-top: 90px;
    padding-bottom: 90px;
}

.brands__items{
    display: grid;
    grid-template-columns: repeat(4, auto);
    max-width: 1020px;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    column-gap: 20px;
    row-gap: 80px;
}

.why{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #121212;
}

.why__title{
    color: white;
    margin-bottom: 75px;
}

.why__items{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    justify-content: space-between;
}
.item-why{
    display: grid;
    padding: 40px;
    text-align: center;
    justify-items: center;
}

.item-why__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
   border-radius: 20px;
   background-color: #262626; 
}

.item-why__icon:not(:last-child){
    margin-bottom: 40px;
}

.item-why__title{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.item-why__title:not(:last-child){
    margin-bottom: 20px;
}

.item-why__discription{
    color: #666666;
}

.reviews{
    padding-top: 90px;
    padding-bottom: 90px;
}

.slide-swiper-reviews__image{
    width: 320px;
    height: 320px;
    position: relative;
}

.slide-swiper-reviews__picture{
    display: flex ;
    flex: 0 1 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide-swiper-reviews__image img{
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}

.slide-swiper-reviews__image::before{
    content: "";
    position: absolute;
    top: 50px;
    right: 90px;
    width: 285px;
    height: 250px;
    background: #FF6428;
    border-radius: 40px 0px 400px 400px;
    transform: rotate(-7.72deg);
}

.slide-swiper-reviews__text{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #666666;     
}

.slide-swiper-reviews__text:not(:last-child){
    margin-bottom: 50px;
}

.slide-swiper-reviews__name{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
}

.slide-swiper-reviews__name:not(:last-child){
    margin-bottom: 8px;
}

.slide-swiper-reviews__position{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.08em;
    color: #868686;
}

.slide-swiper-reviews{
    display: flex;
}

.slide-swiper-reviews__body{
    flex: 0 1 50%;
}

.swiper-rewiews__pagination{
    display: flex;
    justify-content: flex-end;
}

.swiper-rewiews__pagination .swiper-pagination-bullet{
    width: 10px;
    height: 16px;
    background: #C4C4C4;
    border-radius: 20px;
    opacity: 1;
    flex: 0 0 10px;
}

.swiper-rewiews__pagination .swiper-pagination-bullet-active{
    background: #FF6428;
    flex: 0 0 24px;
}

.favorite{
    padding-top: 90px;
    padding-bottom: 90px;
}

.favorite__container{
    display: flex;
    align-items: center;
}

.favorite__title:not(:last-child){
    margin-bottom: 60px;
    text-align: left;
    font-size: 48px;
}

.favorite__body{
    flex: 0 1 50%;
}

.apps__favorite{
    display: flex;
    gap:25px;
}

.apps__favorite_button{
    background-color: #000000;
    min-height: 57px;
    color: white;
    border-radius: 10px;
    padding: 9px 20px;
}

.apps__favorite_wrapper{
    display: flex;
    align-items: center;
    gap: 12px;
}

.apps__content_text{
    font-size: 20px;
    font-family: "CalSans";
}

.apps__content_subtext{
    font-size: 14px;
}

.apps__favorite_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.favorite__image img{
    max-width: 100%;
    flex: 0 1 50%;
}

.footer{
    background-color : #EEEEEE;
    padding-top: 80px;
    padding-bottom: 40px; 
}

.footer__copy{
    text-align: center;
    font-size: 16px;
    line-height: 160%;
    color: rgba(18, 18, 18, 0.6);
}

.footer-contacts__link_mail{
    background: url(/img/footer/mail.svg) left no-repeat;
}

.footer-contacts__link_location{
    background: url(/img/footer/location.svg) left no-repeat;
}

.footer-contacts__link{
    color: #666666;
    display: inline-block;
    padding-left: 44px;
    line-height: 24px;
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 20px;
}

.body-footer__logo:not(:last-child){
    margin-bottom: 30px;
    display: block;
}

.footer__body{
    display: flex;
    justify-content: space-between;
}

.body-footer-column_full{
    flex: 1 1 auto;
}

.body-footer:not(:last-child){
    margin-bottom: 80px;
}

.menu-footer{
    display: flex;
    gap: 120px;
    justify-content: center;
}

.menu-footer__title, .social__footer__title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #121212;
}

.menu-footer__title:not(:last-child),
.social__footer__title:not(:last-child){
    margin-bottom: 20px;
}

.menu-footer__item{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(18, 18, 18, 0.6);
}

.menu-footer__item:not(:last-child){
    margin-bottom: 16px;
}

.social__footer__items{
    display: flex;
    gap: 30px;
    align-items: center;
}