
@media (max-width: 1150px){
    .tarifs__content{
        justify-content: space-around;
        row-gap: 50px;
    }
}
@media (max-width: 1050px){
    .main__container{
        flex-direction: column;
        justify-content: center;
    }
    .target__content{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;        
    }
}

@media (max-width: 800px){
    .main__h1{
       text-align: center;
    }
    .main__text{
        text-align: center;
    }
    .main_links{
        justify-content: center;
    }
    .target__content{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
    .target__block{
        justify-self: center;
    }
    .footer-target,
    .footer-programm,
    .footer-questions{
        flex-direction: column;
        align-items: center;
        gap: 50px;        
    }
    .expectation__wrapper{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        row-gap: 45px;
    }
    .discription__wrapper{
        flex-direction: column;
        align-items: center;
        gap: 45px;
        }
    .tarifs__content{
        justify-content: center;
    }
    .footer-tarifs,
    .footer-tarifs__content{
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
}

@media (max-width: 650px) {
    .footer__wrapper{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .footer-tarifs__text{
        text-align: center;
    }
    .footer__data,
    .footer__middle,
    .footer__links{
        align-items: flex-start;
    }
    .footer__middle{
        order: 2;
    }
    .footer__middle_none{
       display: none;
    }
    .footer__wrapper{
        margin-top: 80px;
        margin-bottom: 90px;
    }
}

@media (max-width: 550px) {
    .main_links{
        flex-direction: column;
    }
}

@media (max-width: 500px) {

        [for=burger]{
           display: flex;
           width: 40px;
           text-align: center;           
           color: white; 
           font-size: 40px ;  
        }

        .menu__navigation{
            display: none;
        }

        #burger:checked + label + nav{
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }

        .main__content{
            padding-top: 53px;
        }

        .main__h1{
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }

        .main__text{
            font-size: 16px;
            text-align: center;
        }

        .menu__list{
            flex-direction: column;
            gap: 5px;
        }

        .expectation__wrapper{
            grid-template-columns: repeat(1, 1fr);
            column-gap: 25px;
            row-gap: 45px;
        }
        
        .target__title,
        .programm__title,
        .questions__title,
        .tarifs__title,
        .discription__title,
        .expectation__title{
            font-size: 30px;
            line-height: 40px;
            padding-top: 90px;
        }   
        .wrapper__block h1{
            font-size: 30px;
            line-height: 40px;
        }
        .block_target1::after{
            width: 61px;
            height: 61px;
            background-size: 100%,100%;
            transform: translate(-265%, -125%);
        }        
        .block_target2::after{
            width: 61px;
            height: 61px;
            background-size: 100%,100%;
            transform: translate(235%, -125%);
        }        
        .block_target3::after{
            width: 61px;
            height: 61px;
            background-size: 100%,100%;
            transform: translate(-265%, -125%);
        }
}