@font-face {
    font-family: 'Futura';
    src: url('../fonts/futurabookc.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/futurabookc.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/futurabookc.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/futurabookc.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/futurabookc.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/futurabookc.svg#futurabookc') format('svg');
    /* Chrome < 4, Legacy iOS */
}

html,
body {
    height: 100%;
    min-width: 320px;
    font-size: 16px;
}

body {
    background-color: white;
    line-height: 1;
    font-family: "Futura";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #4C3D74;
}

.header__container {
    display: flex;
    gap: 135px;
    align-items: center;
    min-height: 152px;
    justify-content: space-between;
}

.header__logo {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase
}

.menu__list {
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
}

.menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase
}

.menu__link:hover {
    text-decoration: underline;
}

#burger,
[for=burger] {
    display: none;
}

.page {
    flex: 1 1 auto;
    background-color: #4C3D74;
}

.main__container {
    display: flex;
    align-items: center;
    padding-top: 144px;
}

.main__content {
    display: flex;
    max-width: 761px;
    flex-direction: column;
    align-self: flex-start;
    padding-bottom: 60px;
    padding-top: 103px;
}

.main__text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.main__text:not(:last-child) {
    margin-bottom: 20px;
}

.main__h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    color: #FFFFFF;
}

.main__h1:not(:last-child) {
    margin-bottom: 30px;
}

.main_links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 44px;
}

.main__button_zapis,
.footer-questions__button_napisat {
    width: 245px;
    height: 60px;
    background: #A387C4;
    border-radius: 30px;
    font-family: "Futura";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.main__button_zapis:hover {
    background: #5d4d70;
    ;
}

.main__button_programma {
    width: 245px;
    height: 60px;
    border: 3px solid #A387C4;
    background-color: #4C3D74;
    border-radius: 30px;
    font-family: "Futura";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.main__button_programma:hover {
    background-color: #2a223f;
}

.main__button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main__image {
    display: flex;
    max-width: 472px;
    max-height: 472px;
}

.page__target,
.page__programm,
.page__questions {
    background-color: white;

}

.target__title,
.programm__title,
.questions__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    color: #504178;
    padding-top: 167px;
    margin-bottom: 46px;
}

.target__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.target__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 341px;
    height: 138px;
    background: #F2EEF7;
    border: 3px solid #4C3D74;
    border-radius: 30px;
    text-align: center;
}

.block_target1 {
    padding: 35px 30px 31px 58px;
}

.block_target2 {
    padding: 35px 45px 31px 52px;
}

.block_target3 {
    padding: 33px 20px 33px 57px;
}

.target__span {
    font-weight: 800;
}

.block_target1::after {
    content: "";
    background: url(/Images/target/1.png) 0 0 repeat;
    width: 89px;
    height: 89px;
    position: absolute;
    transform: translate(-200%, 0%);
}

.block_target2::after {
    content: "";
    background: url(/Images/target/2.png) 0 0 repeat;
    width: 89px;
    height: 89px;
    position: absolute;
    transform: translate(-190%, 0%);
}

.block_target3::after {
    content: "";
    background: url(/Images/target/3.png) 0 0 repeat;
    width: 89px;
    height: 89px;
    position: absolute;
    background-size: 100%, 100%;
    transform: translate(-210%, 0%);
}

.footer-target,
.footer-programm,
.footer-questions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 45px;
}

.footer-target__text,
.footer-programm__text,
.footer-questions__text {
    max-width: 510px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #4C3D74;
}

.footer-target__image,
.footer-programm__image,
.footer-questions__image {
    transform: translate(0, 3px);
}

.expectation__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    color: #FFFFFF;
    padding-top: 167px;
    margin-bottom: 46px;
}

.expectation__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 45px;
}

.expectation__item {
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.expectation__text {
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
}

.expectation__image img {
    width: 59px;
    height: 59px;
}

.expectation__span {
    font-weight: 700;
}

.discription__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    color: #FFFFFF;
    padding-top: 167px;
    margin-bottom: 46px;
}

.discription__wrapper {
    display: flex;
    gap: 45px;
    align-items: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__block p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.content__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
}

.wrapper__block h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.content__block span {
    font-weight: 700;
}

.content__block:not(:last-child) {
    margin-bottom: 38px;
}

.discription {
    margin-bottom: 180px;
}

.programm__items,
.questions__items {
    display: flex;
    flex-direction: column;
}

.programm__item,
.questions__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 62px;
    border-top: 3px solid;
    border-top-color: #4C3D74;
}

.programm__item:last-child,
.questions__item:last-child {
    border-bottom: 3px solid;
    border-bottom-color: #4C3D74;
}

.tarifs {
    margin-bottom: 180px;
}

.programm__item p,
.questions__item p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #4C3D74;
}

.tarifs__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    color: #FFFFFF;
    padding-top: 167px;
    margin-bottom: 46px;
}

.tarifs__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tarifs__block {
    max-height: 530px;
    max-width: 365px;
    background: #F2EEF7;
    border: 3px solid #4C3D74;
    border-radius: 30px;
    padding: 50px 40px 60px 36px;
}

.block-tarifs__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #4C3D74;
    margin-bottom: 15px;
}

.tarifs__block li {
    list-style-type: "+ ";
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #4C3D74;
}

.tarifs__block li:not(:last-child) {
    margin-bottom: 8px;
}

.block-tarifs_1 li:nth-last-child(-n+2) {
    list-style-type: "- ";
    text-decoration: line-through;
}

.block-tarifs_2 li:last-child() {
    list-style-type: "- ";
    text-decoration: line-through;
}

.block-tarifs__items {
    margin-bottom: 18px;
}

.block-tarifs__oplata {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.block-tarifs__oplata p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #4C3D74;
}

.block-tarifs__oplata span {
    font-weight: 700;
}

.oplata__button {
    width: 245px;
    height: 60px;
    background: #A387C4;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transform: translate(16px, 90px)
}

.oplata__button:hover {
    background: #5d4d70;
}

.block-tarifs_1::after {
    content: "";
    background: url(/Images/tariffs/1.png) 0 0 repeat;
    width: 128px;
    height: 128px;
    position: absolute;
    transform: translate(0%, -350%);
}

.block-tarifs_2::after {
    content: "";
    background: url(/Images/tariffs/2.png) 0 0 repeat;
    width: 128px;
    height: 128px;
    position: absolute;
    transform: translate(0%, -350%);
}

.block-tarifs_3::after {
    content: "";
    background: url(/Images/tariffs/3.png) 0 0 repeat;
    width: 128px;
    height: 128px;
    position: absolute;
    transform: translate(0%, -350%);
}

.footer-tarifs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
    gap: 10px;
}

.footer-tarifs__content {
    display: flex;
    max-width: 670px;
    gap: 30px;
}

.footer-tarifs__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer-tarifs__button {
    width: 245px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border: 4px solid #A387C4;
    border-radius: 30px;
    background-color: #4C3D74;
}

.footer-tarifs__button:hover {
    background-color: #251e3a;
}

.footer-tarifs__insta {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer-tarifs__insta:hover {
    text-decoration: underline;
}

.footer-questions__content {
    display: flex;
    max-width: 670px;
    gap: 30px;
}

.footer {
    background-color: #251933;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__data,
.footer__middle,
.footer__links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__middle {
    align-items: center;
}

.footer__wrapper {
    margin-top: 120px;
    margin-bottom: 130px;
}

.footer__middle_none {
    color: #251933;
}

.footer p {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer a {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer-questions__button_napisat:hover {
    background-color: #251e3a;
}